.form__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  width: 83%;
  margin: 34px auto 0;
}

@media screen and (max-width: 425px) {
  .form__title {
    font-size: 20px;
  }
}
