.close-icon {
  cursor: pointer;
  width: 36px;
  height: 36px;
  background-image: url(../../images/close-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease-in-out;
}

.close-icon:hover {
  opacity: 0.6;
}